@media (max-width: 1260px) {
  .wrapper { max-width: 1000px; }

  .promo__title { font-size: 35px; }

  .promo__img { width: 45%; }

  .plans-cards__item { width: 310px; }

  .plans-text {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}

@media (max-width: 1120px) {

  .wrapper { max-width: 840px; }

  .promo__title {
    font-size: 31px;
    padding-top: 0;
  }

  .promo__description { width: 435px; }

  .plans-cards__item { width: 270px; }

  .plans-cards__title {
    font-size: 22px;
    line-height: 25px;
  }

  .plans-cards__description {
    font-size: 18px;
    line-height: 21px;
  }

  .plans-text {
    font-size: 22px;
    line-height: 26px;
    width: 840px;
  }
}

@media (max-width: 900px) {

  .wrapper { max-width: 700px; }

  .promo__text { width: 55%; }

  .promo__title { font-size: 28px; }

  .promo__subtitle { font-size: 26px; }

  .plans-cards__item { width: 220px; }

  .plans-cards__title {
    font-size: 20px;
    line-height: 24px;
  }

  .plans-cards__description {
    width: 220px;
    font-size: 16px;
    line-height: 19px;
  }

  .plans-text {
    font-size: 20px;
    line-height: 24px;
    width: 700px;
  }
}

@media (max-width: 768px) {

  .wrapper { max-width: 600px; }

  .promo { flex-direction: column; }

  .promo__text,
  .promo__description { width: 100%; }

  .promo__button { margin-bottom: 30px; }

  .promo__img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .plans-cards {
    flex-direction: column;
    align-items: center;
  }

  .plans-cards__item {
    width: 380px;
    margin-bottom: 20px;
  }

  .plans-cards__title {
    font-size: 30px;
    line-height: 37px;
  }

  .plans-cards__description {
    width: 250px;
    font-size: 20px;
    line-height: 25px;
  }

  .plans-cards__item:last-child { margin-bottom: 0; }

  .plans-text { width: 600px; }
}

@media (max-width: 660px) {
  .wrapper,
  .plans-text { max-width: 480px; }
}

@media (max-width: 519px) {
  .wrapper,
  .plans-text { max-width: 400px; }
}

@media (max-width: 420px) {

  .wrapper { max-width: 260px; }

  .logo-img {
    width: 93px;
    padding-top: 39px;
    margin-bottom: 21px;
  }

  .promo__title {
    width: 185px;
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 26px;
  }

  .promo__subtitle {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 1px;
  }

  .promo__description {
    font-size: 15px;
    line-height: 17px;
    width: 236px;
    margin-bottom: 25px;
  }

  .promo__button { display: none; }

  .promo__img {
    width: 100%;
    margin-bottom: 50px;
  }

  .plans-section__title {
    width: 200px;
    font-size: 20px;
    line-height: 24px;
    padding-right: 2px;
    margin-bottom: 31px;
  }

  .plans-cards__item {
    width: 260px;
    padding-top: 43px;
  }

  .plans-cards__item:nth-child(2) { padding-top: 40px; }

  .plans-cards__item:nth-child(3) { padding-top: 42px; }

  .plans-cards__img {
    width: 85px;
    margin-bottom: 14px;
  }

  .plans-cards__item:nth-child(2) .plans-cards__img { margin-bottom: 15px; }

  .plans-cards__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  .plans-cards__item:nth-child(2) .plans-cards__title { margin-bottom: 7px; }

  .plans-cards__description {
    width: 125px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 42px;
  }

  .plans-cards:nth-child(2) .plans-cards__description { margin-right: 2px; }

  .plans-cards__item:nth-child(3) .plans-cards__description { margin-right: 5px; }

  .plans-text {
    width: 257px;
    font-size: 18px;
    line-height: 21.5px;
    padding-right: 3px;
  }

  .feedback { padding: 45px 0 43px; }

  .feedback-form { width: 260px; }

  .feedback__title {
    font-size: 20px;
    line-height: 24.5px;
    margin-bottom: 27px;
  }

  .feedback-form__name,
  .feedback-form__email {
    font-size: 10px;
    line-height: 11.5px;
    padding: 17px 0 17px 17px;
    box-sizing: border-box;
  }

  .feedback-form__name { margin-bottom: 13px; }

  .feedback-form__email { margin-bottom: 25px; }

  .feedback-form__button {
    font-size: 10px;
    line-height: 12px;
    padding: 17.3px 0 15.6px 0;
    margin-left: -1.1px;
  }

  .main-footer {
    font-size: 10px;
    line-height: 12px;
    padding: 25px 30px 26px 30px;
    letter-spacing: 0.1px;
  }
}
